name: Run CoolProp Script

on: [push] # 當你上傳代碼時自動執行

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 檢出代碼
        uses: actions/checkout@v3

      - name: 設定 Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: 安裝 CoolProp
        run: pip install coolprop

      - name: 執行程式
        run: python your_script_name.py  # 記得換成你的檔名